<h1>Alterar Cadastro</h1>
<form action="/update-estudante" method="POST">
    <input type="hidden" name="id" value="<%- estudante[0].ID %>">
    <input type="text" name="nomecompleto" value="<%- estudante[0].NOMECOMPLETO %>" placeholder="Insira seu nome completo" required><br><br>
    <input type="email" name="email" value="<%- estudante[0].EMAIL %>" placeholder="Insira o seu e-mail" required><br><br>
    <input type="password" name="senha" value="<%- estudante[0].SENHA %>" placeholder="Insira a sua senha" required><br><br>

    <input type="submit" value="Alterar">
</form>